/JavaProject/JavaApplication1/nbproject/private/
/JavaProject/JavaApplication1/build/
/JavaProject/Session01-Start/HelloJava/nbproject/private/
/JavaProject/Session01-Start/HelloJava/build/
/JavaProject/Session02-Learning/DataType/nbproject/private/
/JavaProject/Session02-Learning/DataType/build/
/JavaProject/Session02-Learning/OOP/nbproject/private/
/JavaProject/Session02-Learning/OOP/build/
/JavaProject/Session02-Learning/DataType/dist/
/JavaProject/Workshop/Workshop1/nbproject/private/
/JavaProject/Workshop/Workshop1/build/
/JavaProject/Session03-ClassesAndObject/StudentsDemo/nbproject/private/
/JavaProject/Session03-ClassesAndObject/StudentsDemo/build/
/JavaProject/Workshop/WS1/nbproject/private/
/JavaProject/Workshop/WS1/build/
/JavaProject/Session03-ClassesAndObject/DogManagement/nbproject/private/
/JavaProject/Session03-ClassesAndObject/StaticModifier/nbproject/private/
/JavaProject/Session03-ClassesAndObject/StaticModifier/build/
/JavaProject/Session05-InterfaceAndInheritance/InheritanceRectangle/nbproject/private/
/JavaProject/Session05-InterfaceAndInheritance/InheritanceRectangle/build/
/JavaProject/Session03-ClassesAndObject/DogManagement/build/
/JavaProject/Session03-ClassesAndObject/StudentManagement/nbproject/private/
/JavaProject/Session03-ClassesAndObject/StudentManagement/build/
/JavaProject/Workshop/WS2/nbproject/private/
/JavaProject/Workshop/WS2/build/
/JavaProject/Session05-InterfaceAndInheritance/Abstract/nbproject/private/
/JavaProject/Session06-NumbersAndStrings/Numbers/nbproject/private/
/JavaProject/Session06-NumbersAndStrings/Numbers/build/
/JavaProject/Session06-NumbersAndStrings/WrappersClasses/nbproject/private/
/JavaProject/Session06-NumbersAndStrings/WrappersClasses/build/
/JavaProject/Session00-Essential/StudentProfile/nbproject/private/
/JavaProject/Session06-NumbersAndStrings/ScannerDemo/nbproject/private/
/JavaProject/Session06-NumbersAndStrings/ScannerDemo/build/
/JavaProject/Session07-Exceptions/ExceptionDemo_1/nbproject/private/
/JavaProject/Session07-Exceptions/ExceptionDemo_1/build/
/JavaProject/Session00-Essential/StudentProfile/build/
/JavaProject/Session00-Essential/Samurai/nbproject/private/
/JavaProject/Session00-Essential/Samurai/build/
/JavaProject/Workshop/WS3/nbproject/private/
/JavaProject/Workshop/WS3/build/
/JavaProject/Session00-Essential/MyToys/nbproject/private/
/JavaProject/Session00-Essential/MyToys/build/
/JavaProject/Session00-Essential/Object/nbproject/private/
/JavaProject/Session00-Essential/Object/build/
/JavaProject/Workshop/ItemManagement/nbproject/private/
/JavaProject/Workshop/ItemManagement/build/
/JavaProject/Session08-Collections/ArrayListDemo/nbproject/private/
/JavaProject/Session08-Collections/ArrayListDemo/build/
/JavaProject/Session08-Collections/SupportCollections/nbproject/private/
/JavaProject/Session08-Collections/SupportCollections/build/
/JavaProject/Session09-Generics/GenericDemo/nbproject/private/
/JavaProject/Session09-Generics/GenericDemo/build/
/JavaProject/Session10-IO/JavaApplication21/nbproject/private/
/JavaProject/Session10-IO/FileDemo/nbproject/private/
/JavaProject/Session10-IO/FileDemo/build/
/JavaProject/Session10-IO/FileDemo/dist/
/JavaProject/Session10-IO/CaseStudy1/nbproject/private/
/JavaProject/Session10-IO/CaseStudy1/build/
/JavaProject/Session00-Essential/Array/nbproject/private/
/JavaProject/Session00-Essential/Array/build/
/JavaProject/Session10-IO/CaseStudy2/nbproject/private/
/JavaProject/Session10-IO/CaseStudy2/build/
/JavaProject/Workshop/WS5/nbproject/private/
/JavaProject/Workshop/WS5/build/
/JavaProject/Session08-Collections/StudentManagementWithCollection/nbproject/private/
/JavaProject/Session08-Collections/StudentManagementWithCollection/build/
/JavaProject/Workshop/PRO192_PE_FA21/PaperNo_2/4/build/
/JavaProject/Workshop/WS9/nbproject/private/
/JavaProject/Workshop/WS9/build/
/JavaProject/Workshop/WS9/dist/
/JavaProject/Workshop/TestQuiz/nbproject/private/
/JavaProject/Workshop/TestQuiz/build/
/JavaProject/Workshop/PRO192_HE172579_Nguyen Dinh Nghia/nbproject/private/
/JavaProject/Workshop/PRO192_HE172579_Nguyen Dinh Nghia/build/
/CSD201/Slot1/nbproject/private/
/CSD201/myList/nbproject/private/
/CSD201/Slot1/build/
/CSD201/Slot2/nbproject/private/
/CSD201/Slot2/build/
/CSD201/Slot3/nbproject/private/
/CSD201/Slot3/build/
/CSD201/Slot4/nbproject/private/
/CSD201/Slot4/build/
/CSD201/Slot4_2/nbproject/private/
/CSD201/Slot4_2/build/
/CSD201/Slot6/nbproject/private/
/CSD201/Slot6/build/
/CSD201/Slot7/nbproject/private/
/CSD201/Slot7/build/
/CSD201/Slot9/nbproject/private/
/CSD201/Slot9/build/
/CSD201/given/AS1/build/
/CSD201/given/AS1/dist/
/CSD201/given/AS1/nbproject/private/
/CSD201/given/SE1723_Nguyễn Đình Nghĩa_HE172579_AS1/build/
/CSD201/given/SE1723_Nguyễn Đình Nghĩa_HE172579_AS1/dist/
/CSD201/given/SE1723_Nguyễn Đình Nghĩa_HE172579_AS1/nbproject/private/
/CSD201/given/SE1723_Nguyễn Đình Nghĩa_HE172579_AS1/assignment1/build/
/CSD201/given/SE1723_Nguyễn Đình Nghĩa_HE172579_AS1/assignment1/nbproject/private/
/CSD201/given/SE1723_Nguyen Dinh Nghia_HE172579_AS1/assignment1/build/
/CSD201/given/SE1723_Nguyen Dinh Nghia_HE172579_AS1/assignment1/nbproject/private/
/CSD201/given/SE1723_Nguyen Dinh Nghia_HE172579_AS1/assignment1/dist/
*.mdf
/CSD201/Given_Assiment 2/Q1_Assigment/build/
/CSD201/Given_Assiment 2/Q1_Assigment/nbproject/private/
/CSD201/Given_Assiment 2/Q2_Assigment/build/
/CSD201/Given_Assiment 2/Q2_Assigment/nbproject/private/
/CSD201/Given_Assiment 2/Q3_Assigment/build/
/CSD201/Given_Assiment 2/Q3_Assigment/nbproject/private/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q1_Assigment/build/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q1_Assigment/nbproject/private/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q2_Assigment/build/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q2_Assigment/nbproject/private/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q3_Assigment/build/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q3_Assigment/nbproject/private/
/CSD201/CSD201_sample_PE/CSD201_given/Q3/dist/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q3_Assigment/dist/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q1_Assigment/dist/
/CSD201/SE1723_Nguyen Dinh Nghia_HE172579_Assignment2/Q2_Assigment/dist/
/CSD201/CSD201_PE_SU22/Q1_SU22/build/
/CSD201/CSD201_PE_SU22/Q1_SU22/nbproject/private/
/CSD201/CSD201_PE_SU22/Q2_SU22_Fixed/build/
/CSD201/CSD201_PE_SU22/Q2_SU22_Fixed/nbproject/private/
/CSD201/Slot 24/nbproject/private/
/CSD201/Slot 24/build/
/CSD201/Slot27/nbproject/private/
/CSD201/PE_CSD201_FA22_030303/PaperNo_1/Q1_HCM/nbproject/private/
/CSD201/PE_CSD201_FA22_030303/PaperNo_1/Q1_HCM/build/
/CSD201/PE_CSD201_FA22_030303/PaperNo_1/Q2_HCM/nbproject/private/
/CSD201/CSD201_PE_SU22/Q3_SU22/build/
/CSD201/PE_CSD201_FA22_030303/PaperNo_1/Q2_HCM/build/
/CSD201/model/nbproject/private/
/CSD201/WebApplication1/nbproject/private/
/CSD201/WebApplication1/build/
/CSD201/AATest/nbproject/private/
/CSD201/AATest/build/
/CSD201/PRJ301WS/target/
