@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype htlm>
<html>
    <head>
        <title>Web App</title>
    </head>
    <body>
        <div>Content here.</div>
    </body>
</html>