h3 {
    text-indent: 200px;
}
li {
    text-indent: 200px;
}

#search-bar {
    height: 40px;
    width: 800px;
    border-color: black; 
    padding-left:10px;
}

#btn {
    height: 40px;
    width: 60px;
    
    border-color: black;
}